<nav class="navbar navbar-expand-sm nav justify-content-center">
  <a class="navbar-brand" href="#">VGDB</a>
  <div class="search-container">
    <form class="form-inline">
      <input
        class="form-control search-bar border-0 m-2 mr-sm-2"
        type="text"
        placeholder="Search games..."
        [(ngModel)]="searchText"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="Search($event)"
      />
    </form>
    <div class="search-suggestions" *ngIf="showBox">
      <div class="search-suggestions-results">
        <ul>
          <li>
            <h5 class="search-header">Games</h5>
          </li>
          <li
            *ngFor="let game of PopularGamesArray | slice: 0:4; let i = index"
          >
            <div class="container">
              <div class="row">
                <span
                  class="search-image"
                  style="background-image: url({{game.background_image}});"
                ></span>
                <a class="search-text">{{ game.name }}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!--<div id="box" class="col-10 col-sm-8 col-md-6 box" *ngIf="showBox">
  <ul>
    <li>
      <h5 class="search-header">
        Games
      </h5>
    </li>
    <li
      *ngFor="let game of PopularGamesArray | slice: 0:4; let i = index"
    >
      <div class="container">
        <div class="row">
          <span
            class="search-image"
            style="background-image: url({{game.background_image}});"></span>
          <a class="search-text">{{ game.name }}</a>
        </div>
      </div>
    </li>
  </ul>
</div>-->
